body{
    background-color: #6878cc;
}
div.fil_actu{
    text-align: center;
}
h1 {
    color: #ee0000;
}
li{
    text-align: left;
    padding-left: 590px;
    list-style-type: none;
    cursor: pointer;
}

#search{
    padding-left: 10px;
    height: 20px;
}
#loupe{
    width:15px;
}
div.message_actu{
    text-align: left;
    padding-top: 80px; 
    padding-left: 450px;

}
div.message_content{
    width: 400px;
    height: 175px;
    border: 2px solid black;
    margin: 10px;
}