body{
    background-color: #6878cc;
}
div.inscription{
    display: block;
    text-align: center;
}
h1 {
    color: #ee0000;
    text-align: center;
}
label
{
    display: block;
    text-align: left;
	width: 150px;
    float: left;
    padding-left: 400px;
}
div.prenom{
    padding-top: 50px; 
    padding-right: 100px;
}
div.nom{
    padding-top: 30px; 
    padding-right: 120px;
}
div.birth{
    padding-top: 30px; 
    padding-right: 65px;
}
div.upload{
    padding-top: 40px; 
    padding-right: 10px;
}
div.valider{
    padding-top: 50px;  
}
#prenom{
    margin-right: 300px;
}
#nom{
    margin-right: 280px;
}
#date{
    margin-right: 360px;
}
#mon_fichier{
    margin-right: 300px;
}
#valider{
    width: 100px;
    margin-right: 100px;
}
