body{
    background-color: #6878cc;
}
div.message{
    text-align: center;
}
h1 {
    color: #ee0000;
    text-align: center;
}
div.search{
    padding-right: 150px;
}
li{
    text-align: left;
    padding-left: 590px;
    list-style-type: none;
}
li:hover{
    color: #aab498;
}
#Message_enter{
 height: 30px;
}
#send{
    width: 100px;
}
